#mapid {
  height: 760px;
}

table {
  border-collapse: collapse;
  font-family: sans-serif;
}

table,
th,
td {
  border: 1px solid black;
}

h3,
p {
  font-family: sans-serif;
}

p {
  color: red;
}

td {
  border-top: 0pt none;
  margin-top: 0pt;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
}

.blinking {
  animation: blinkingText 1.5s linear infinite;
}

@keyframes blinkingText {
  50% {
    opacity: 0;
  }
}

.bubbles:hover {
  stroke-width: 2px;
  stroke: #333;
}

.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}